In [2]:
import pandas as pd
import requests
from pandas import json_normalize

In [3]:
# Define the World Bank API URL for GDP data (indicator code: NY.GDP.MKTP.CD)
url = "https://api.worldbank.org/v2/country/all/indicator/NY.GDP.MKTP.CD?format=json&per_page=20000"

# Fetch data from the World Bank API
response = requests.get(url)
data = response.json()

# Verify we have all the results
assert data[0]["total"] < data[0]["per_page"]

# Flatten the JSON data using json_normalize
gdp_data = json_normalize(data[1])
gdp_data.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2021,1.089454e+12,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern
1,AFE,2020,9.341791e+11,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern
2,AFE,2019,1.009052e+12,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern
3,AFE,2018,1.016697e+12,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern
4,AFE,2017,1.030482e+12,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern

In [4]:
# Filter and clean the DataFrame
gdp_data = gdp_data[['countryiso3code', 'date', 'country.value', 'value']]
gdp_data = gdp_data.rename(columns={'countryiso3code': 'country_code', 'date': 'year', 'country.value': 'country', 'value': 'GDP'})

# Display the GDP data
gdp_data.head()

  country_code  year                      country           GDP
0          AFE  2021  Africa Eastern and Southern  1.089454e+12
1          AFE  2020  Africa Eastern and Southern  9.341791e+11
2          AFE  2019  Africa Eastern and Southern  1.009052e+12
3          AFE  2018  Africa Eastern and Southern  1.016697e+12
4          AFE  2017  Africa Eastern and Southern  1.030482e+12

In [6]:
gdp_data.to_csv("../../processed/gdp_worldbank.csv",index = False)